%h1 Listing users

%table
  %thead
    %tr
      %th= link_to t('users.id'), users_path(order: {id: id_sort})
      %th= link_to t('users.first_name'), users_path(order: {first_name: first_name_sort})
      %th= link_to t('users.last_name'), users_path(order: {last_name: last_name_sort})
      %th= link_to t('users.email'), users_path(order: {email: email_sort})
      %th= t('users.projects')

  %tbody
    - found_users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.projects.to_sentence(two_words_connector: ', ', last_word_connector: ', ')

= link_to 'New User', new_user_path
