%h1= t('app.dashboard')

.row
  .col-md-2.col-md-offset-5
    = simple_form_for :search, url: users_path, method: :get do |f|
      = f.input :q

.row
  .col-md-8
    %h2= t('users.table')
    %button= link_to t('users.new'), new_user_path
    %hr
    = will_paginate found_users
    %table
      %thead
        %tr
          %th
            %button= link_to t('users.id'), users_path(params_for_column_ordering(:id))
          %th
            %button= link_to t('users.first_name'), users_path(params_for_column_ordering(:first_name))
          %th
            %button= link_to t('users.last_name'), users_path(params_for_column_ordering(:last_name))
          %th
            %button= link_to t('users.email'), users_path(params_for_column_ordering(:email))
          %th= t('users.projects')
          %th= t('users.controls')

      %tbody
        - found_users.each do |user|
          %tr
            %td= user.id
            %td= user.first_name
            %td= user.last_name
            %td= user.email
            %td= user.projects_list
            %td
              %button= link_to t('users.edit'), edit_user_path(user)
              %button= link_to t('users.destroy'), user_path(user), method: :delete, data: {confirm: t('users.confirm_destroy', name: user.full_name)}

  .col-md-4
    %h2= t('projects.table')
    %button= link_to t('projects.new'), new_project_path
    %hr
    %table
      %thead
        %tr
          %th= t('projects.name')
          %th= t('projects.status')
          %th= t('projects.controls')
      %tbody
        - projects.each do |project|
          %tr
            %td= project.name
            %td= project.active
            %td
              %button= link_to t('projects.edit'), edit_project_path(project)
              %button= link_to t('projects.destroy'), project_path(project), method: :delete, data: {confirm: t('projects.confirm_destroy', name: project.name)}
